# PostgreSQL
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=traffic_password
POSTGRES_DB=traffic_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5001

# Application
LOG_LEVEL=INFO
ENVIRONMENT=development
