# PostgreSQL Configuration
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=traffic_password
POSTGRES_DB=traffic_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=kafka:9092
ZOOKEEPER_CONNECT=zookeeper:2181

# MLflow Configuration
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_BACKEND_STORE_URI=postgresql://traffic_user:traffic_password@postgres:5432/traffic_db
MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts

# Kafka UI Configuration
KAFKA_UI_URL=http://localhost:8080
